*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
    .inicio{
        overflow-x: hidden;
        width: 100%;
        position: relative;

    .azul{
        background-image: linear-gradient(to bottom, #CAE6F0, #227C9D);
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sla{
            display: flex;
            justify-content: space-between;
        }

        h1{
            color: #1A2B57;
            font-size: 70px;
            text-align: center;
        }

        p{
            color: #1A2B57;
            font-size: 40px;
            margin: 30px;
        }

        img{
            margin: 0;
            padding: 0;
            margin-right: -15px;
            margin-bottom: -50px;
            width: 70%;
        }
    }

    .ondas{
        width: 100vw;
        display: grid;
        flex-direction: column;
        line-height: 0;
        padding: 0;
        margin: 0;
        margin-top: -6%;
        overflow: hidden;
        z-index: 100;
        
        
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .inicio2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;

        .texto2{
            display: flex;
            flex-direction: column;
            margin: 10px;
            justify-content: center;
            align-items: center;
            z-index: 100;
        

        h2{
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            margin: 10px;
        }

        p{
            font-size: 30px;
            text-align: center;
            margin: 10px;
        }

        button{
            background-color: #C44536;
            color: #ffff;
            width: 500px;
            height: 68px;
            border-radius: 12px;
            border: 0;
            font-size: 20px;
            margin: 10px;
            cursor: pointer;
        }
        }

        .predio{
            position: relative;
            height: 30%;
            padding: 20px;
            z-index: 100;
        }

        .bola1{
            position: absolute;
            height: 300px;
            width: 300px;
            border-radius: 100%;
            background-color: #227C9D;
            z-index: 70;
            margin-left: -300px;
            margin-bottom: -100px;
            bottom: 0;
        }

        .bola2{
            position: absolute;
            height: 400px;
            width: 600px;
            border-radius: 100%;
            background-color: #447604;
            z-index: 70;
            margin-left: -1300px;
        }

    }

    .asfalto{
        width: 100%;
        margin: 0;
        z-index: 100;
    }

    .login{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        overflow: hidden;
        margin-bottom: 0px;
        height: 700px;
        margin-top: -5px;
        justify-content: space-around;
        background-color: #CAE6F0;
        z-index: 99;

        .texto3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                color: #227C9D;
                font-size: 60px;
                font-weight: 500;
            }

            p{
                font-size: 30px;
                font-weight: 400;
                padding: 30px;
                text-align: center;
            }

            button{
            background-color: #C44536;
            color: #ffff;
            width: 400px;
            height: 68px;
            border-radius: 12px;
            border: 0;
            font-size: 30px;
            margin: 10px;
            cursor: pointer;
            }
        }

        .imagem{
            position: relative;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .tras{
                position: absolute;
                width: 80%;
                z-index: 99;
            }
            .frente{
                position: relative;
                width: 50%;
                z-index: 100;
                margin-bottom: -60%;
                margin-left: -20%;
            }
            .bola1{
                position: absolute;
            height: 300px;
            width: 300px;
            border-radius: 100%;
            background-color: #227C9D;
            z-index: 70;
            margin-bottom: 70%;
            margin-left: -10%;
            }
            .bola2{
                position: absolute;
            height: 300px;
            width: 300px;
            border-radius: 100%;
            background-color: #447604;
            z-index: 70;
            bottom: 0;
            margin-right: -200%;
            }
            
            
        }
    }
    .listras{
        position: absolute;
        width: 100%;
        height: 60px;
        background-color: #227C9D;
    }
    .sobre{
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: #CDE5A5;
        padding: 60px;
        overflow: hidden;
        margin-top: 60px;

        img{
            height: 500px;
            z-index: 100;
            
        }

        .texto3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        h1{
            color: #447604;
            font-size: 40px;
        }

        p{
            font-weight: 500;
            font-size: 30px;
            text-align: center;
        }

        button{
            background-color: #C44536;
            color: #ffff;
            width: 400px;
            height: 68px;
            border-radius: 12px;
            border: 0;
            font-size: 30px;
            margin: 10px;
            cursor: pointer;
            }
        
        .bola1{
            position: absolute;
            width: 550px;
            height: 550px;
            background-color: #447604;
            border-radius: 100%;
            z-index: 99;
            margin-left: -1150px;
        }
        .bola2{
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #D95D39;
            border-radius: 100%;
            z-index: 101;
            margin-left: -1500px;
            margin-top: -400px;
        }
    }
    }
