*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    position: relative;

    
        .imagem{
            z-index: 100;
            width: 48%;
            position: relative;
            margin-left: -35%;
            bottom: 0;
        }

        .bola1{
            position: absolute;
            width: 35%;
            height: 60%;
            background-color: #C44536;
            border-radius: 100%;
            z-index: 98;
            margin-left: -90%;
            margin-top: -10%;
            
        }

        .bola2{
            position: absolute;
            width: 10%;
            height: 20%;
            background-color: #447604;
            border-radius: 100%;
            z-index: 98;
            margin-left: -40%;
            margin-top: -40%;
            
        }

        .bola3{
            position: absolute;
            width: 30%;
            height: 45%;
            background-color: #FFBF00;
            border-radius: 100%;
            z-index: 98;
            margin-left: -60%;
            margin-top: 25%;
            
        }

    .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #CAE6F0;
        width: 50%;
        height: fit-content;
        padding: 5% 0%;
        z-index: 99;
        position: absolute;
        border-radius: 12px;
        right: 0;
        margin-right: 10px;

        h1{
            font-size: 160%;
            color: #227C9D;
        }
        h2{
            font-size: 150%;
        }

        .input{
            display: flex;
            flex-direction: column;
            width: fit-content;
        

        

        input{
            width: 40vw;
            height: 40px;
            border-radius: 12px;
            border: none;
            font-size: 150%;
            padding: 5px;
            margin: 5px;
        }

        .icon{
            justify-self: end;
            align-self: flex-end;
        }
        }

        button{
            background-color: #C44536;
            color: #ffffff;
            width: 200px;
            height: 60px;
            margin-top: 10%;
            border-radius: 12px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        p{
            font-size: 100%;
            color: black;
            font-weight: 500;
        }

        a{
            text-decoration: none;
            color: #227C9D;
            font-size: 20px;
            font-weight: 500;
        }
    }

}