*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cidade{
    width: 100%;
}

h1{
    text-align: center;
    color: #447604;
    font-size: 200%;
}

p{
    text-align: center;
    font-size: 140%;
}

.lista-cartoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}