*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginAdm{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    bottom: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    
        .imagem{
            z-index: 100;
            width: 45%;
            height: 40vw;
            position: relative;
            margin-left: -40%;
            margin-bottom: -10%;
            border-radius: 50%;
        }

        .bola1{
            position: absolute;
            width: 25%;
            height: 55%;
            background-color: #227C9D;
            border-radius: 100%;
            z-index: 98;
            margin-left: -80%;
            margin-top: 15%;
            
        }

        .bola2{
            position: absolute;
            width: 10%;
            height: 22%;
            background-color: #447604;
            border-radius: 100%;
            z-index: 100;
            margin-left: -10%;
            margin-top: -20%;
            
        }

        .bola3{
            position: absolute;
            width: 16%;
            height: 35%;
            background-color: #FFBF00;
            border-radius: 100%;
            z-index: 100;
            margin-left: -5%;
            margin-top: 30%;
            
        }

    .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0b4ae;
        width: 50%;
        height: 80%;
        z-index: 110;
        position: absolute;
        border-radius: 12px;
        right: 0;
        margin-right: 10px;
        margin-top: 6%;

        h1{
            font-size: 300%;
            color: #C44536;
            font-weight: 500;
            margin-bottom: 5%;
        }

        .input{
            display: flex;
            flex-direction: column;
            width: fit-content;
        

        

        input{
            width: 40vw;
            height: 40px;
            border-radius: 12px;
            border: none;
            font-size: 150%;
            padding: 5px;
            margin: 5px;
        }

        .icon{
            justify-self: end;
            align-self: flex-end;
        }
        }

        button{
            background-color: #C44536;
            color: #ffffff;
            width: 200px;
            height: 60px;
            margin-top: 10%;
            border-radius: 12px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    }

}